li {
    list-style-type: none;
}
li span  {
    display: inline-block;
    border-left: 0.8em #ddd solid;
    padding-left: 0.5em;
    margin: 2px 0;
}

.no_green li.green {
    display: none
}

li.red > span {
    border-color: red
}

li.green > span {
    border-color: green
}

li.yellow > span {
    border-color: orange
}

li.blue > span {
    border-color: blue
}

#log, #temp {
    border: 1px gray solid;
    padding: 10px;
    margin: 10px 0;
}