/* ----- General rules ----------------------------------------------------- */

html, body, div, h1, ul, li, a {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

body {
  color: #222;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 20px;
  text-align: left;
  border-radius: 0.5em;
  background: #222 url('images/elastic_cluster_white.png') 10px 6px no-repeat;
  padding: 0.25em 0.25em 0.27em 35px;
}

a, a:hover,a:visited {
  color: #31beb1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i.dot {
  background: #ccc;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 1em;
  margin-right: 0.25em;
  position: relative;
  top: 0.1em;
}

i.fa {
  margin-right: 0.5em;
}

/* ----- Body and intro ---------------------------------------------------- */

div#body {
  max-width: 1000px;
  margin: 20px auto;
}

#intro {
  color: #444;
  font-size: 90%;
}

#intro .note {
  background: #ccc;
  padding: 1em;
  border-radius: 0.5em;
}

#intro .note strong {
  color: #999;
  font-weight: 100;
}

#intro .link {
  color: #fff;
  background: #1d6e63;
  padding: 0.25em 1em;
  border-radius: 0.5em;
}

#intro .link a {
  color: #fff;
}

#intro ul {
  padding-left: 0.1em !important;
}

#intro ul i.dot {
  margin-right: 0.4em;
}

/* ----- Form -------------------------------------------------------------- */

#main_form {
  font-size: 90%;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

#main_form input[type=text],
#main_form button[type=submit] {
  font-size: 100%;
  padding: 0.25em 0.5em;
  margin-right: 0;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  width: 40%;
  top: -1px;
}

#main_form button[type=submit] {
  background: #ccc;
  font-size: 90%;
  padding: 0.4em 1em;
  line-height: 1em;
  height: 2em;
  border-radius: 0.5em;
  position: relative;
  bottom: 2px;
  width: 19%;
}

/* ----- Log --------------------------------------------------------------- */

div#log_container {
  border: 1px solid #ececec;
  background: #ececec;
  padding: 10px;
  margin: 10px 0;
  border-radius: 0.5em;
  position: relative;
}

div#show_hide_green {
  color: #999;
  font-size: 80%;
  position: absolute;
  top: 10px;
  right: 10px;
}

span.icon {
  background: #000;
}

.done {
  color: #999;
  background: #333;
  font-size: 80%;
  border-radius: 0.75em;
  padding: 0.25em 0.5em 0.3em 0.5em;
  width: 97%;
  display: inline-block;
}

/* ----- Lists ------------------------------------------------------------- */

ul {
  padding-left: 1em !important;
}

ul ul {
  padding-left: 1em !important;
}

ul ul ul {
  padding-left: 1.6em !important;
}

ul ul ul li .msg {
  font-size: 90% !important;
}

ul ul ul li i.dot {
  width: 0.5em; height: 0.5em;
  top: 0.25em;
}

#log > ul > li {
  margin-bottom: 1em;
}

#log > ul > li > ul {
  margin-top: 0.25em;
}

/* ----- List items -------------------------------------------------------- */

li {
  list-style-type: none;
  margin: 0 0 0.25em 0;
}

.no_green li li.green {
  display: none
}

li.green i.dot {
  background: #1cd804;
}

li.red i.dot {
  background: #fc2e40;
}

li.yellow i.dot {
  background: #ffd218;
}

li.blue i.dot {
  background: #2a8fff;
}

li > ul > li > ul {
  padding-left: 0.8em;
}

span.msg {
  border: none;
}

p.error {
  color: #fff;
  background: #fc2e40;
  font-size: 110%;
  border-radius: 0.75em;
  padding: 0.25em 0.75em;
  margin: 0.5em 1em 0.5em 1em;
}

#log > ul > li.section > span.section {
  background: #666;
  border-radius: 0.75em;
  padding: 0.35em 0.5em 0.25em 0.5em;
  width: 97%;
  display: inline-block;
}

#log > ul > li.section > span.section strong {
  color: #fff;
}

#log > ul > li.section.yellow > span.section i {
  display: none;
}

#log > ul > li.section > span.section i {
  display: none;
}

#log > ul > li.section.green > span.section {
  background: #1cd804;
}

#log > ul > li.section.red > span.section {
  background: #fc2e40;
}

#log > ul > li.section.yellow > span.section {
  background: #ffd218;
}

#log > ul > li.section.blue > span.section {
  background: #2a8fff;
}

li.section strong {
  font-weight: normal;
}

li.section strong code {
  color: #222;
  font-size: 14px;
  font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

li.section .index strong {
  color: #999;
  font-size: 12px;
  font-weight: 100;
}

li.section .index strong code {
  font-size: 14px;
}

li.section .check strong {
  font-weight: normal;
  margin-left: 0.45em;
  padding-top: 0.25em;
  display: inline-block;
}

li.section li.section li i {
  display: none;
}

li.section li.section li .msg {
  color: #878787;
}

