html, body, div, h1, ul, li, a {
    font-family: 'Gibson-Regular', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

html {
    font-size: 1.15em
}

h1 {
    color: #2b4590;
    text-align: center;
}

a, a:hover,a:visited {
    color: #31beb1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



div#body {
    max-width: 800px;
    margin: 20px auto;
}

form {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

label,
#indices,#es_host,button {
    font-size: 1.1em;
}

#indices,#es_host {
    width: 300px;
}

div#log_container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

div#hide_green {
    text-align: right;
}

li {
    list-style-type: none;
}
li span  {
    display: inline-block;
    border-left: 0.8em #ddd solid;
    padding-left: 0.5em;
    margin: 2px 0;
}

.no_green li.green {
    display: none
}

li.red > span {
    border-color: red
}

li.green > span {
    border-color: green
}

li.yellow > span {
    border-color: orange
}

li.blue > span {
    border-color: blue
}

li > ul > li > ul {
    padding-left: 0.8em;
}

span.msg {
    border: none;
}

p.error {
    color: red;
}